.navcontain{
    position: absolute;
    width: 97.34vw;
    height: 6.71vh;

    left: 23px;
    top: 20px;

    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoimg{
    height: 100%;
}

.tittlebar{
    position: absolute;
    right: 700px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    /* identical to box height */


    color: #4A4A4A;
}

.perfil{
    position: absolute;
    width: 2.5%;
    height: 80%;
    border-radius: 50%;
    right: 4px;

    background: url('../../Images/perfil.png');
    background-size: cover;
}

.disco{
    position: absolute;
    height: 60%;
    right: 55px;
}

.disco:hover{
    cursor: pointer;
    height: 65%;
}

.config{
    position: absolute;
    height: 55%;
    right: 140px;
}

.config:hover{
    cursor: pointer;
    height: 60%;
}

.info{
    position: absolute;
    height: 55%;
    right: 180px;
}

.info:hover{
    cursor: pointer;
    height: 60%;
}

.duvida{
    position: absolute;
    height: 55%;
    right: 220px;
}

.duvida:hover{
    cursor: pointer;
    height: 60%;
}



.txthours{
    width: 45px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #4A4A4A;
    right: 425px;

}

.data{
    width: 115px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #4A4A4A;
    right: 300px;

}

.point{
    width: 15px;
    position: absolute;
    font-size: 20px;
    right: 408px;
}